# <font color='red'>**APRENDIZAGEM NÃO SUPERVISIONADA: ASSOCIAÇÃO**

# <font color='Blue'>**ECLAT**

In [2]:
#!pip install pyECLAT

In [1]:
# vamos trabalhar com  um exemplo que a propria biblioteca traz
from pyECLAT import Example1

In [2]:
dados = Example1().get()

In [3]:
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [4]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados, verbose=True)

100%|█████████████████████████████████████████████| 7/7 [00:00<00:00, 41.49it/s]
100%|██████████████████████████████████████████| 7/7 [00:00<00:00, 48449.06it/s]
100%|███████████████████████████████████████████| 7/7 [00:00<00:00, 1537.50it/s]

In [5]:
eclat.df_bin

   rice  butter  bread  milk  bean  coffe  beer
0     0       1      1     1     0      0     1
1     0       1      1     0     0      1     0
2     0       1      1     0     0      1     0
3     0       1      1     1     0      1     0
4     0       0      0     0     0      0     1
5     0       1      0     0     0      0     0
6     0       0      1     0     0      0     0
7     0       0      0     0     1      0     0
8     1       0      0     0     1      0     0
9     1       0      0     0     0      0     0

In [6]:
eclat.uniq_

[nan, 'rice', 'butter', 'bread', 'milk', 'bean', 'coffe', 'beer']

In [7]:
indices, suporte = eclat.fit(min_support=0.2, min_combination=2, max_combination=4)

Combination 2 by 2

21it [00:00, 80.21it/s]

Combination 3 by 3

35it [00:00, 393.42it/s]

Combination 4 by 4

35it [00:00, 365.91it/s]

In [8]:
indices

{'butter & bread': [0, 1, 2, 3],
 'butter & milk': [0, 3],
 'butter & coffe': [1, 2, 3],
 'bread & milk': [0, 3],
 'bread & coffe': [1, 2, 3],
 'butter & bread & milk': [0, 3],
 'butter & bread & coffe': [1, 2, 3]}

In [9]:
suporte

{'butter & bread': 0.4,
 'butter & milk': 0.2,
 'butter & coffe': 0.3,
 'bread & milk': 0.2,
 'bread & coffe': 0.3,
 'butter & bread & milk': 0.2,
 'butter & bread & coffe': 0.3}

# <font color='red'>**APRIORI**

In [14]:
from pyECLAT import Example1
dados = Example1().get()
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [15]:
dados.shape

(10, 4)

In [16]:
from pyECLAT import ECLAT
eclat = ECLAT(data=dados)
dados2 = eclat.df_bin
dados2

   rice  butter  bread  milk  bean  coffe  beer
0     0       1      1     1     0      0     1
1     0       1      1     0     0      1     0
2     0       1      1     0     0      1     0
3     0       1      1     1     0      1     0
4     0       0      0     0     0      0     1
5     0       1      0     0     0      0     0
6     0       0      1     0     0      0     0
7     0       0      0     0     1      0     0
8     1       0      0     0     1      0     0
9     1       0      0     0     0      0     0

In [19]:
#!pip install mlxtend

In [20]:
from mlxtend.frequent_patterns import apriori, association_rules

In [21]:
# Gerando a associação
associacao = apriori(dados2, min_support=0.05, use_colnames=True)

In [22]:
# Colocando em ordem dos mais frequentes
associacao.sort_values("support", ascending=False).head(15)

    support                itemsets
2       0.5                 (bread)
1       0.5                (butter)
8       0.4         (butter, bread)
13      0.3          (coffe, bread)
10      0.3         (coffe, butter)
18      0.3  (coffe, butter, bread)
5       0.3                 (coffe)
17      0.2   (milk, butter, bread)
12      0.2           (milk, bread)
0       0.2                  (rice)
9       0.2          (milk, butter)
6       0.2                  (beer)
4       0.2                  (bean)
3       0.2                  (milk)
11      0.1          (butter, beer)

In [23]:
# Criando as regras de associação
regras = association_rules(associacao, metric="confidence")

In [24]:
# Colocando em ordem de suporte, confiança ou grau de associação (Lift)
resultado = regras.sort_values("lift", ascending=False)

In [25]:
resultado.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
28,"(bread, beer)","(milk, butter)",0.1,0.2,0.1,1.0,5.0,0.08,inf
16,"(butter, beer)",(milk),0.1,0.2,0.1,1.0,5.0,0.08,inf
27,"(butter, beer)","(milk, bread)",0.1,0.2,0.1,1.0,5.0,0.08,inf
25,"(butter, bread, beer)",(milk),0.1,0.2,0.1,1.0,5.0,0.08,inf
19,"(bread, beer)",(milk),0.1,0.2,0.1,1.0,5.0,0.08,inf
26,"(milk, beer)","(butter, bread)",0.1,0.4,0.1,1.0,2.5,0.06,inf
22,"(coffe, milk)","(butter, bread)",0.1,0.4,0.1,1.0,2.5,0.06,inf
8,(milk),"(butter, bread)",0.2,0.4,0.2,1.0,2.5,0.12,inf
11,(coffe),"(butter, bread)",0.3,0.4,0.3,1.0,2.5,0.18,inf
24,"(milk, bread, beer)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf
23,"(milk, butter, beer)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf
21,"(coffe, milk, bread)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf
20,"(coffe, milk, butter)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf
18,"(milk, beer)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf
17,"(coffe, milk)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf
14,"(coffe, milk)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf
15,"(milk, beer)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf
13,"(bread, beer)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf
12,"(butter, beer)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf
10,"(coffe, bread)",(butter),0.3,0.5,0.3,1.0,2.0,0.15,inf
9,"(coffe, butter)",(bread),0.3,0.5,0.3,1.0,2.0,0.15,inf
7,"(milk, bread)",(butter),0.2,0.5,0.2,1.0,2.0,0.10,inf
6,"(milk, butter)",(bread),0.2,0.5,0.2,1.0,2.0,0.10,inf
5,(coffe),(bread),0.3,0.5,0.3,1.0,2.0,0.15,inf
4,(milk),(bread),0.2,0.5,0.2,1.0,2.0,0.10,inf
3,(coffe),(butter),0.3,0.5,0.3,1.0,2.0,0.15,inf
2,(milk),(butter),0.2,0.5,0.2,1.0,2.0,0.10,inf
1,(bread),(butter),0.5,0.5,0.4,0.8,1.6,0.15,2.5
0,(butter),(bread),0.5,0.5,0.4,0.8,1.6,0.15,2.5